teachbooks
sphinx-tudelft-theme
sphinx-inline-tabs
plotly
matplotlib

git+https://github.com/TeachBooks/TeachBooks-Favourites@author_teachbooks #BUMPBUMPBUMPBUMPBUMPBUMPBUMPBUMPBUMPBUMP

sphinx-apa-references
